---
title: Security risk mitigation
description: Manage your organization's security policies, alerts, and approval rules
canonical_path: "/solutions/security-risk-mitigation/"
suppress_header: true
extra_css:
  - bl-modal.css
  - video-carousel.css
extra_js:
  - libs/slick.min.js
  - video-carousel.js
---

%link{:rel => "stylesheet", :href => "https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css"}
%link{:rel => "stylesheet", :href => "https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css"}

.blank-header
  = image_tag "/images/home/icons-pattern-left.svg", class: "image-border image-border-left", alt: "Gitlab hero border pattern left svg"
  = image_tag "/images/home/icons-pattern-right.svg", class: "image-border image-border-right", alt: "Gitlab hero border pattern right svg"
  .header-content
    %h1 Security risk mitigation
    %p Manage your organization's security policies, alerts, and approval rules
    = link_to "Try GitLab Free", "/free-trial/", class: "btn cta-btn orange"
.gitlab-content-container.reverse-content

  .content.row-layout
    .full-width
      %p
        Organizations need to manage and enforce security standards across their organization.  GitLab's security risk mitigation capabilities provide policy, alert, and security approval orchestration support for the vulnerability scanners and cloud-native security capabilities that are available in GitLab.  Users are able to leverage a simple, consolidated user interface to establish, enforce, and monitor their security posture.

  .content.row-layout
    .full-width
      %h2 Security policies
      %p
        <a href="https://docs.gitlab.com/ee/user/application_security/policies/">Security policies</a> allow users to use a single, simple UI to define rules and actions that are then enforced.  Security policies can be created to enforce cloud-native network firewall rules for applications in production.  Users can also create policies to require vulnerability scans to be run, either on a specified schedule or as part of a pipeline job.  Security policies themselves are fully audited and can be configured to go through a two-step approval process before any changes are made.
      %p= image_tag "images/security-policies.png", class: "screenshot margin-bottom10", alt: "Security Policies", size: "10"
      %h2 Security approvals
      %p
        <a href="https://docs.gitlab.com/ee/user/application_security/#security-approvals-in-merge-requests">Security approvals</a> are an optional feature for merge requests. Users can select the conditions that must be met to trigger the security approval rule, including which branches, scanners, vulnerability count, and vulnerability severity levels must be present in the MR. If all conditions are met, then the merge request is blocked unless someone in the security approval group approves. This extra layer of oversight can serve as an enforcement mechanism as part of a strong security compliance program
      %p.halfwidth{ :style => "padding:0px 25%;" }
        = image_tag "images/security-approvals.png", class: "screenshot margin-bottom10", alt: "Security Approvals"


-#  .content
-#    %h2.u-margin-bottom-sm.text-center
-#      Featured videos
-#    .video-slider
-#      - data.video_carousel.each do |video|
-#        -if video.carousel_identifier.include?("Cloud-native security Carousel")
-#          = partial "includes/components/video-carousel/video-item", locals: {name: video.name, title: video.title, company: video.company, photourl: video.photourl, videolink: video.video_link}

%section
  .container
    .row
      .col-md-12.text-center
        = partial "includes/blog/try"

-# - data.video_carousel.each do |video|
-#   -if video.carousel_identifier.include?("VSM Carousel 1")
-#     = partial "includes/components/video-carousel/video-carousel-modal", locals: {videolink: video.video_link, title: video.title, photourl: video.photourl}
